<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225793427847-fcr8lte9ge3cmbskcmnnmm3q2qo81kto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225793427847-fcr8lte9ge3cmbskcmnnmm3q2qo81kto</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225793427847-utulfkqkpn3hp793tie5tn57kql911aq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0_R50T5YHiC9be4n0LvNi_1y5ohO78cI</string>
	<key>GCM_SENDER_ID</key>
	<string>225793427847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.myvcv.myvcv</string>
	<key>PROJECT_ID</key>
	<string>myvcv-c7726</string>
	<key>STORAGE_BUCKET</key>
	<string>myvcv-c7726.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225793427847:ios:e869dbc4c82a51fe382b22</string>
</dict>
</plist>